# Cientista FIFA

## Carregando os dados

Primeiro carregamos utilizando os notebooks.

In [1]:
#%run LimpandoBDFIFA.ipynb

Posteriormente utilizamos os modulos python

In [2]:
import FIFAConn
import FIFALimp

df=FIFAConn.readFIFA()
df = FIFALimp.limpeza(df)

## Analise dos dados

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18147 entries, 0 to 18206
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      18147 non-null  object
 1   Age                       18147 non-null  int64
 2   Nationality               18147 non-null  object
 3   Overall                   18147 non-null  int64
 4   Potential                 18147 non-null  int64
 5   Club                      18147 non-null  object
 6   Value                     17907 non-null  float64
 7   Wage                      18147 non-null  object
 8   Special                   18147 non-null  int64
 9   Preferred_Foot            18147 non-null  object
 10  International_Reputation  18147 non-null  float64
 11  Weak_Foot                 18147 non-null  float64
 12  Skill_Moves               18147 non-null  float64
 13  Work_Rate                 18147 non-null  object
 14  Body_Type                 18147 non-null  object
 15  Real_Face                 18147 non-null  object
 16  Position                  18147 non-null  object
 17  Jersey_Number             18147 non-null  float64
 18  Loaned_From               18147 non-null  object
 19  Height                    18147 non-null  object
 20  Weight                    18147 non-null  object
 21  Crossing                  18147 non-null  float64
 22  Finishing                 18147 non-null  float64
 23  HeadingAccuracy           18147 non-null  float64
 24  ShortPassing              18147 non-null  float64
 25  Volleys                   18147 non-null  float64
 26  Dribbling                 18147 non-null  float64
 27  Curve                     18147 non-null  float64
 28  FKAccuracy                18147 non-null  float64
 29  LongPassing               18147 non-null  float64
 30  BallControl               18147 non-null  float64
 31  Acceleration              18147 non-null  float64
 32  SprintSpeed               18147 non-null  float64
 33  Agility                   18147 non-null  float64
 34  Reactions                 18147 non-null  float64
 35  Balance                   18147 non-null  float64
 36  ShotPower                 18147 non-null  float64
 37  Jumping                   18147 non-null  float64
 38  Stamina                   18147 non-null  float64
 39  Strength                  18147 non-null  float64
 40  LongShots                 18147 non-null  float64
 41  Aggression                18147 non-null  float64
 42  Interceptions             18147 non-null  float64
 43  Positioning               18147 non-null  float64
 44  Vision                    18147 non-null  float64
 45  Penalties                 18147 non-null  float64
 46  Composure                 18147 non-null  float64
 47  Marking                   18147 non-null  float64
 48  StandingTackle            18147 non-null  float64
 49  SlidingTackle             18147 non-null  float64
 50  GKDiving                  18147 non-null  float64
 51  GKHandling                18147 non-null  float64
 52  GKKicking                 18147 non-null  float64
 53  GKPositioning             18147 non-null  float64
 54  GKReflexes                18147 non-null  float64
 55  Release_Clause            16643 non-null  float64
 56  PosicionamentoCampo       18147 non-null  object
dtypes: float64(40), int64(4), object(13)
memory usage: 8.0+ MB

Observando os nomes das varias é possivel ver que existem diferentes variáveis que podem se relacionar nos diferentes jogadores.

Por exemplo, a variável 'Marking', traduzindo fica 'Marcação', e em um jogo de futebol qualquer jogador de defesa tem que que marcar mais que um jogador de ataque, afinal, o jogador de defesa joga para impedir o adversário de fazer gol. Já o atacante joga para ultrapassar essa defesa e marcar o gol. Então, logicamente, o peso de cada variavel para jogadores de diferentes posições será diferentes. Pensando no caso do goleiro expecificamente é de se acreditar que as variaveis que começam com GK são as importantes.

## Dados Estatisticos

In [4]:
dfcribe = df.describe()
dfcribe[1:].head(7)

,Age,Overall,Potential,Value,Special,International_Reputation,Weak_Foot,Skill_Moves,Jersey_Number,Crossing,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release_Clause
mean,25.121122,66.253926,71.324076,2450.132909,1598.002645,1.113297,2.947154,2.361492,19.546096,49.738414,...,58.651127,47.286053,47.701879,45.666336,16.616906,16.393839,16.233041,16.389651,16.712019,4585.060987
std,4.669796,6.913320,6.132286,5633.206685,272.882706,0.394150,0.660498,0.756274,15.947765,18.364255,...,11.437138,19.900450,21.663630,21.287961,17.698612,16.909971,16.504103,17.037031,17.957521,11118.717765
min,16.000000,46.000000,48.000000,10.000000,731.000000,1.000000,1.000000,1.000000,1.000000,5.000000,...,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,13.000000
25%,21.000000,62.000000,67.000000,325.000000,1457.000000,1.000000,3.000000,2.000000,8.000000,38.000000,...,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000,525.000000
50%,25.000000,66.000000,71.000000,700.000000,1635.000000,1.000000,3.000000,2.000000,17.000000,54.000000,...,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000,1100.000000
75%,28.000000,71.000000,75.000000,2100.000000,1787.000000,1.000000,3.000000,3.000000,26.000000,64.000000,...,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000,3500.000000
max,45.000000,94.000000,95.000000,118500.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,93.000000,...,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000,228100.000000

Observando as estatisticas das variaveis aparentemente está tudo coerente.

## Perguntas

### 1. É familar para um telespectador assíduo de jogos de futebol que o camisa 1 geralmente é o goleiro. Então, segundo os dados, qual seria posição em que os camisas 1 jogam?

### 2.  É de consenso geral que frequentemente o melhor jogador do time é o camisa 10. Segundo os dados, qual é a posição mais  frequente do camisa 10?

### 3. Qual é o número que tem melhor avaliação? E o melhor preço?

### 4. Existe alguma posição que os jogadores são mais valorizados?

### 5. Em qual idade os jogadores são mais valorizados?

### 6. Tem alguma forma de prever o preço de um jogador?

## Modelo Estatisco

### 1.  É familar para um telespectador assíduo de jogos de futebol que o camisa 1 geralmente é o goleiro. Então, segundo os dados, qual seria posição em que os camisas 1 jogam?
Para responder, primeiro vamos separar os camisas 1 de todos os outros numeros,e em seguida agrupá-los por posição.

In [5]:
a = df[['PosicionamentoCampo', 'Jersey_Number']]
a = a[a['Jersey_Number'] == 1 ]
q1 = a.groupby('PosicionamentoCampo').count()
q1.head()

                     Jersey_Number
PosicionamentoCampo
GOL                            566

Pelo resultado, vemos que todos os jogadores que utilizam camisa de numero 1 são goleiros.

### 2. É de consenso geral que frequentemente o melhor jogador do time é o camisa 10. Segundo os dados, qual é a posição mais  frequente do camisa 10?

Para responder a essa pergunta, teremos que fazer um processo similar ao feito na questão 1

In [6]:
a = df[['PosicionamentoCampo', 'Jersey_Number']]
a = a[a['Jersey_Number'] == 10 ]
q2 = a.groupby('PosicionamentoCampo').count()
q2.head()

                     Jersey_Number
PosicionamentoCampo
ATQ                            141
DEF                             10
MEC                            442

Pelo resultado acima, observamos que o a região que mais tem camisas 10 é no meio.

Pode-se concluir que o meio é lugar mais valorizado do futebol.

### 3. Qual é o número que tem melhor avaliação? E o maior preço de contratação?

Para ínicio, vamos pegar a tabela de dados e agrupá-la por preço, por número da camisa e fazer a média da avaliação e do preço de cada jogador.

In [7]:
a = df[['Jersey_Number','Overall','Value']]
q3 = a.groupby('Jersey_Number').mean()
q3.head(12)

                 Overall        Value
Jersey_Number
1.0            68.356890  2749.668459
2.0            67.587669  2267.249509
3.0            67.389397  2309.067164
4.0            67.766143  2557.571942
5.0            68.497409  2861.798246
6.0            68.192833  2820.034722
7.0            68.872517  3889.781145
8.0            68.830065  3639.260797
9.0            69.287695  4328.789753
10.0           70.386172  5694.172355
11.0           68.340678  3410.034305
12.0           65.430769  2086.411609

In [8]:
print(q3.max())

Overall      71.500000
Value      5694.172355
dtype: float64

In [9]:
print(q3[q3['Overall']>70])

                 Overall        Value
Jersey_Number
10.0           70.386172  5694.172355
79.0           71.500000  3330.000000

In [10]:
print(q3[q3['Value']>5000])

                 Overall        Value
Jersey_Number
10.0           70.386172  5694.172355
63.0           69.000000  5087.500000

Portanto o número em que a média dos jogadores possui a melhor avaliação é o 79, entretanto esse número é pouco utilizado o futebol, deixando ainda uma grande importancia para a camisa 10, que é uma das mais usadas.

Já sobre os valores, os camisas 10 realmente levaram a vantagem.

### 4. Existe alguma posição que os jogadores são mais valorizados?

Pensaremos parecido com a anterior, mas em vez do número que o jogador usa, vamos analisar a região em que ele joga.

In [11]:
a = df[['PosicionamentoCampo','Overall','Value']]
q4 = a.groupby('PosicionamentoCampo').mean()
q4.head()

                       Overall        Value
PosicionamentoCampo
ATQ                  66.291714  2854.415216
DEF                  66.400102  2006.261472
GOL                  64.603457  1614.517345
MEC                  66.568059  2871.047860

Pela tabela observamos que a avaliação do jogador é bem menor quando ele joga no gol. Além disso, vemos que por preço, os jogadores de meio de campo e de ataque são bem mais valorizados que os zagueiros(defensores) que, por sua vez, valem bem mais que os goleiros.

### 5. Em qual idade os jogadores são mais valorizados?

In [12]:
a = df[['Age','Overall','Value']]
q5 = a.groupby('Age').mean()
q5.head(30)

       Overall        Value
Age
16   54.452381   216.428571
17   56.365854   403.693380
18   57.741803   534.156379
19   59.575906   914.336283
20   61.864887  1243.079740
21   63.490141  1778.367564
22   65.005243  2271.295732
23   66.270739  2685.418888
24   67.318081  3060.663418
25   68.005335  3316.586873
26   68.550725  3460.953264
27   68.973230  3581.384279
28   69.226570  3234.168988
29   69.268828  3205.207447
30   69.704148  3101.402439
31   69.899148  3386.484150
32   69.529617  2620.469858
33   69.587654  1999.346734
34   69.558313  1296.125000
35   68.164103   835.523560
36   67.937008   595.944882
37   69.012500   639.687500
38   67.378378   216.805556
39   67.640000   258.333333
40   67.692308   716.428571
41   67.600000    35.000000
42   65.000000    40.000000
44   50.500000          NaN
45   71.000000   160.000000

Vemos que os jogadores quando estão nos extremos da carreira valem menos. E chegam ao topo por volta dos 24 aos 31 anos. 
A avaliação tambem segue mais ou menos mesmo criterio

Vamos observar no caso especifico de goleiros, que geralmente tem as carreiras mais longas

In [13]:
a = df[['Age','Position','Overall','Value']]
a = a[a['Position']=='GK']
q5g = a.groupby('Age').mean()
q5g.head(30)

       Overall        Value
Age
16   51.500000    80.000000
17   53.451613   106.774194
18   55.170732   208.518519
19   57.237113   786.752577
20   59.043103   437.112069
21   59.612500   556.509434
22   62.276316   877.100000
23   62.607407  1284.514925
24   64.854015  1647.222222
25   66.643411  2889.166667
26   67.568807  3716.456311
27   67.461538  2628.695652
28   67.901961  2498.750000
29   68.323810  2499.108911
30   69.292135  1953.636364
31   69.457831  3318.353659
32   68.867470  2204.437500
33   69.762712  2304.491525
34   69.044776  1191.000000
35   67.696429   633.363636
36   67.717949   371.153846
37   67.400000   183.333333
38   67.562500   107.812500
39   69.250000   182.500000
40   67.625000   716.428571
41   68.000000    35.000000
42   65.000000    40.000000
44   50.500000          NaN
45   71.000000   160.000000

No gol, observamos que o jogador demora mais tempo para atingir o ápice da carreira que geralmente acontece aos 28 anos e vai até por volta dos 35 anos. Tendo exceções que podem continuar em alto nivel por mais tempo, exemplo disso é que goleiros com idade de 39 anos têm um "overall" tão alto quanto outros jogadores no ápice. Com idade de 45, deve haver uma unica exceção por isso tão altos niveis de avaliação e de valor.

### 6. Tem alguma forma de prever o preço de um jogador?

Como vimos nas questões acima, diferentes regiões têm diferentes valores para diferentes paramêtros. Então, para tentar prever os preços dos jogadores, vamos dividir em diferentes regiões que eles jogam.

In [14]:
novo = df[[ 'Age', 'Overall','Value','Weak_Foot', 'Skill_Moves','Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl','Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots','Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving','GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'PosicionamentoCampo']]

novo = novo.dropna(0)

In [15]:
from sklearn import linear_model,model_selection

#### TOTAL

In [16]:
x = novo.drop(['Value','PosicionamentoCampo'],axis=1)
y = novo['Value']

x_treinot,x_testet,y_treinot,y_testet = model_selection.train_test_split(x,y,test_size=.4,random_state=1)

In [17]:
modelt = linear_model.LinearRegression()
modelt.fit(x_treinot,y_treinot)

LinearRegression()

In [18]:
print(modelt.score(x_treinot,y_treinot))

0.4758152997803411

#### GOLEIROS

In [19]:
gol = novo[novo['PosicionamentoCampo']=='GOL']
x = gol[['GKDiving','GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes','Overall','Age']]
y = gol['Value']

x_treinog,x_testeg,y_treinog,y_testeg = model_selection.train_test_split(x,y,test_size=.4,random_state=1)

modelg = linear_model.LinearRegression()
modelg.fit(x_treinog,y_treinog)

print(modelg.score(x_treinog,y_treinog))

0.43813365434363527

#### DEFENSORES

In [20]:
defe = novo[novo['PosicionamentoCampo']=='DEF']
x = defe[['Age', 'Overall','Weak_Foot', 'Skill_Moves','Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl','Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots','Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle']]
y = defe['Value']

x_treinod,x_tested,y_treinod,y_tested = model_selection.train_test_split(x,y,test_size=.4,random_state=1)

modeld = linear_model.LinearRegression()
modeld.fit(x_treinod,y_treinod)

print(modeld.score(x_treinod,y_treinod))

0.5624281066954637

#### MEIAS

In [21]:
mec = novo[novo['PosicionamentoCampo']=='MEC']
x = mec[['Age', 'Overall' ,'Weak_Foot', 'Skill_Moves','Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl','Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots','Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle']]
y = mec['Value']

x_treinom,x_testem,y_treinom,y_testem = model_selection.train_test_split(x,y,test_size=.4,random_state=1)

modelm = linear_model.LinearRegression()
modelm.fit(x_treinom,y_treinom)

print(modelm.score(x_treinom,y_treinom))

0.4923064248584068

#### ATACANTES

In [22]:
atq = novo[novo['PosicionamentoCampo']=='ATQ']
x = atq[['Age',  'Overall','Weak_Foot', 'Skill_Moves','Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl','Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots','Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle']]
y = atq['Value']

x_treinoa,x_testea,y_treinoa,y_testea = model_selection.train_test_split(x,y,test_size=.4,random_state=1)

modela = linear_model.LinearRegression()
modela.fit(x_treinoa,y_treinoa)

print(modela.score(x_treinoa,y_treinoa))

0.5162631393108521

Deixando apenas os paramêtros técnicos, vemos que cada grupo recebe um $R^2$ moderado.
Retirando o caso dos Goleiros, todas as outras posições tem um $R^2$ melhor que o total para todos os paramêtros.